:root.theme-dark {
	--main-color: #000028;
	--accent-color: #ff0070;
	--button-color: #ff0070;
	--button-color-hover: #ff007040;
	--text-color: #f1b2ce;
	--title-color: #db00ff;
	--title-h2-color: #ff0070;
	--title-h3-color: #000028;
	--title-h4-color: #000028;
	--background-url: url("../images/cover-image-dark.png");
}
