:root.theme-light {
	--main-color: #fff1f7;
	--accent-color: #ff8dcb;
	--button-color: #353430;
	--button-color-hover: #35343040;
	--text-color: #353430;
	--text-color-hover: #35343040;
	--title-color: #ffc2e6;
	--title-h2-color: #353430;
	--title-h3-color: #353430;
	--title-h4-color: #353430;
	--background-url: url("../images/cover-image-light.png");
}

.theme-light .decorated-elem {
	display: none;
}

@media (prefers-color-scheme: light) {
	:root {
		--main-color: #fff1f7;
		--accent-color: #ff8dcb;
		--button-color: #353430;
		--button-color-hover: #35343040;
		--text-color: #353430;
		--text-color-hover: #35343040;
		--title-color: #ffc2e6;
		--title-h2-color: #353430;
		--title-h3-color: #353430;
		--title-h4-color: #353430;
		--background-url: url("../images/cover-image-light.png");
	}

	.theme-auto .decorated-elem {
		display: none;
	}
}
